doctype html
html(lang="en")
    head
        script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
        script(type="text/javascript" src="https://api.trello.com/1/client.js?key=cb7acdb2fee72c75964b52f7888feee0")
        script(type="text/javascript").
            (function(){
                var authenticationSuccess = function(param) {
                    $('#message').html('Authenticating...');
                    window.location.href = '/authorized/board/' + localStorage['trello_token'];
                };
                var authenticationFailure = function() {
                    delete localStorage['trello_token'];
                    $('#message').html('Authentication failed. Please try again reloading the page.');
                };
                Trello.authorize({
                    type: "redirect",
                    name: "Analytics",
                    persist: true,
                    scope: {
                        read: true
                    },
                    expiration: "1year",
                    success: authenticationSuccess,
                    error: authenticationFailure
                });
            })();
    body
        p#message
